## Install Packages

In [ ]:
!pip install geopandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: geopandas in c:\users\admin\appdata\roaming\python\python313\site-packages (1.0.1)
Requirement already satisfied: numpy>=1.22 in c:\users\admin\appdata\roaming\python\python313\site-packages (from geopandas) (2.2.1)
Requirement already satisfied: pyogrio>=0.7.2 in c:\users\admin\appdata\roaming\python\python313\site-packages (from geopandas) (0.10.0)
Requirement already satisfied: packaging in c:\users\admin\appdata\roaming\python\python313\site-packages (from geopandas) (24.2)
Requirement already satisfied: pandas>=1.4.0 in c:\users\admin\appdata\roaming\python\python313\site-packages (from geopandas) (2.2.3)
Requirement already satisfied: pyproj>=3.3.0 in c:\users\admin\appdata\roaming\python\python313\site-packages (from geopandas) (3.7.0)
Requirement already satisfied: shapely>=2.0.0 in c:\users\admin\appdata\roaming\python\python313\site-packages (from geopandas) (2.0.7)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\appdata\roaming\python\python313\site-packages (from pandas>=1.4.0->geopandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\appdata\roaming\python\python313\site-packages (from pandas>=1.4.0->geopandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\admin\appdata\roaming\python\python313\site-packages (from pandas>=1.4.0->geopandas) (2025.1)
Requirement already satisfied: certifi in c:\users\admin\appdata\roaming\python\python313\site-packages (from pyogrio>=0.7.2->geopandas) (2025.1.31)
Requirement already satisfied: six>=1.5 in c:\users\admin\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas>=1.4.0->geopandas) (1.17.0)

[notice] A new release of pip is available: 24.3.1 -> 25.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
import geopandas as gpd
import pandas as pd
import shapely
import pyproj
from geopandas.tools import sjoin
from shapely.geometry import Point, LineString
import scipy
from math import radians, sin, cos, sqrt, atan2, asin, atan

print("All packages are working!")

All packages are working!

## Dowload polyline data

In [ ]:
##Wrong
# Path to your shapefile
file_path = r'D:\Decarbonization Project\polyline'
#file_path = r'C:\road_dataa' encoding ='utf-8'
polyline_data = gpd.read_file(file_path,encoding='latin1')

# Rename columns using their current index or name
polyline_data.rename(columns={
    polyline_data.columns[2]: 'road_number',  # Rename column index 3
    polyline_data.columns[3]: 'control',
    polyline_data.columns[5]: 'km_start',      # Rename column index 4
    polyline_data.columns[6]: 'km_end',      # Rename column index 4
    polyline_data.columns[7]: 'distance'     # Rename column index 8
}, inplace=True)

# Verify the changes
columns_to_keep = [0, 1, 2, 3,5,6, 7, -1]  # Use -1 for the last column
polyline_data = polyline_data.iloc[:, columns_to_keep]

# Verify the updated DataFrame
polyline_data

,id,section_pa,road_number,control,km_start,km_end,distance,geometry
0,1,2673,1,101,18+100,19+000,0.9,"LINESTRING (100.59461 13.87202, 100.59463 13.8..."
1,2432,2837,3701,100,27+346,28+541,1.195,"LINESTRING (100.85231 13.66465, 100.85302 13.6..."
2,2425,2835,3701,100,25+174,26+799,1.625,"LINESTRING (100.83631 13.67742, 100.83694 13.6..."
3,2481,2688,3702,100,25+183,26+829,1.646,"LINESTRING (100.83653 13.67649, 100.83728 13.6..."
4,2482,2698,3702,100,36+233,38+600,2.367,"LINESTRING (100.92203 13.61967, 100.92215 13.6..."
...,...,...,...,...,...,...,...,...
395,302,5485,35,202,30+275,53+875,23.6,"LINESTRING (100.25657 13.545, 100.25653 13.544..."
396,2191,1886,3335,100,0+000,26+398,26.398,"LINESTRING (100.0585 13.63773, 100.05853 13.63..."
397,1976,1928,3091,100,0+000,19+851,19.851,"LINESTRING (100.29893 13.7062, 100.29896 13.70..."
398,2253,5454,3423,100,0+200,7+137,6.937,"LINESTRING (100.2862 13.54489, 100.28628 13.54..."
399,2133,307,3274,100,0+000,6+178,6.178,"LINESTRING (100.11934 13.54647, 100.11941 13.5..."

In [ ]:
polyline_data.info

<bound method DataFrame.info of        id section_pa road_number control km_start  km_end distance  \
0       1       2673           1     101   18+100  19+000      0.9
1    2432       2837        3701     100   27+346  28+541    1.195
2    2425       2835        3701     100   25+174  26+799    1.625
3    2481       2688        3702     100   25+183  26+829    1.646
4    2482       2698        3702     100   36+233  38+600    2.367
..    ...        ...         ...     ...      ...     ...      ...
395   302       5485          35     202   30+275  53+875     23.6
396  2191       1886        3335     100    0+000  26+398   26.398
397  1976       1928        3091     100    0+000  19+851   19.851
398  2253       5454        3423     100    0+200   7+137    6.937
399  2133        307        3274     100    0+000   6+178    6.178

                                              geometry
0    LINESTRING (100.59461 13.87202, 100.59463 13.8...
1    LINESTRING (100.85231 13.66465, 100.85302 13.6...
2    LINESTRING (100.83631 13.67742, 100.83694 13.6...
3    LINESTRING (100.83653 13.67649, 100.83728 13.6...
4    LINESTRING (100.92203 13.61967, 100.92215 13.6...
..                                                 ...
395  LINESTRING (100.25657 13.545, 100.25653 13.544...
396  LINESTRING (100.0585 13.63773, 100.05853 13.63...
397  LINESTRING (100.29893 13.7062, 100.29896 13.70...
398  LINESTRING (100.2862 13.54489, 100.28628 13.54...
399  LINESTRING (100.11934 13.54647, 100.11941 13.5...

[400 rows x 8 columns]>

In [ ]:

# Path to your shapefile
file_path = r'D:\Decarbonization Project\road1'
#file_path = r'C:\road_dataa' encoding ='utf-8'
polyline_data = gpd.read_file(file_path,encoding='latin1')

# Rename columns using their current index or name
polyline_data.rename(columns={
    polyline_data.columns[2]: 'road_number',  # Rename column index 3
    polyline_data.columns[3]: 'control',
    polyline_data.columns[5]: 'km_start',      # Rename column index 4
    polyline_data.columns[6]: 'km_end',      # Rename column index 4
    polyline_data.columns[7]: 'distance'     # Rename column index 8
}, inplace=True)

# Verify the changes
columns_to_keep = [0, 1, 2, 3,5,6, 7, -1]  # Use -1 for the last column
polyline_data = polyline_data.iloc[:, columns_to_keep]

# Verify the updated DataFrame
polyline_data.head()
polyline_data.info

<bound method DataFrame.info of         id section_pa road_number control km_start   km_end distance  \
0      305       5553          36     101    0+000   10+000       10
1     2320        238        3510     100    0+000   25+921   25.921
2     2189      10236        3333     102   18+462   34+167   15.705
3      311        965          37     200   23+482   47+468   23.986
4     2706      10121        4110     101   48+478   48+512    0.034
...    ...        ...         ...     ...      ...      ...      ...
2961   133      11621           6     200   71+250   86+600    15.35
2962   147       6325           7     102    0+000    0+512    0.512
2963   640      11502         290     102   93+196  110+736    17.54
2964  1317       5001        1400     100    0+000    4+829    4.829
2965    77      11321           3     601  287+889  312+000   24.111

                                               geometry
0     LINESTRING (709309.55 1438227.317, 709491.064 ...
1     LINESTRING (570954.517 1469333.105, 570966.824...
2     LINESTRING (705354.224 1646180.743, 705354.478...
3     LINESTRING (593264.76 1395498.21, 593269.299 1...
4     LINESTRING (540272.057 917613.113, 540274.013 ...
...                                                 ...
2961  LINESTRING (725956.272 1616062.127, 725991.824...
2962  LINESTRING (690372.704 1518626.122, 690372.693...
2963  LINESTRING (829006.967 1642440.253, 828992.601...
2964  LINESTRING (513541.151 1866859.686, 513513.795...
2965  LINESTRING (806232.692 1414503.685, 806236.588...

[2966 rows x 8 columns]>

In [ ]:
# Calculate the mean of the 'distance' column
#polyline_data['distance'] = pd.to_numeric(polyline_data['distance'], errors='coerce')
#mean_distance = polyline_data['distance'].mean()
# Print the result
#print(f"The mean distance is: {mean_distance}")
polyline_data.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 2966 entries, 0 to 2965
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           2966 non-null   object
 1   section_pa   2966 non-null   object
 2   road_number  2966 non-null   object
 3   control      2966 non-null   object
 4   km_start     2966 non-null   object
 5   km_end       2966 non-null   object
 6   distance     2966 non-null   object
 7   geometry     2966 non-null   geometry
dtypes: geometry(1), object(7)
memory usage: 185.5+ KB

In [ ]:
polyline_data['geometry']

0       LINESTRING (709309.55 1438227.317, 709491.064 ...
1       LINESTRING (570954.517 1469333.105, 570966.824...
2       LINESTRING (705354.224 1646180.743, 705354.478...
3       LINESTRING (593264.76 1395498.21, 593269.299 1...
4       LINESTRING (540272.057 917613.113, 540274.013 ...
                              ...
2961    LINESTRING (725956.272 1616062.127, 725991.824...
2962    LINESTRING (690372.704 1518626.122, 690372.693...
2963    LINESTRING (829006.967 1642440.253, 828992.601...
2964    LINESTRING (513541.151 1866859.686, 513513.795...
2965    LINESTRING (806232.692 1414503.685, 806236.588...
Name: geometry, Length: 2966, dtype: geometry

## dowload gps data

In [ ]:

# Step 1: Load GPS data from CSV
gps_data = pd.read_csv(
    r"C:\Users\Admin\Downloads\truck_od_datanofilter.csv",
    encoding="latin1"  # Use the correct encoding for your file
)
print("GPS data uploaded")

# Step 2: Transform coordinates to a NumPy array
coordinates_array = gps_data[['lat', 'lon']].to_numpy()
print("Coordinates as Array:")
print(coordinates_array)

# Step 3: Create Point geometries from lat/lon
geometry = [Point(xy) for xy in zip(gps_data['lon'], gps_data['lat'])]

# Step 4: Convert to GeoDataFrame
gdf = gpd.GeoDataFrame(gps_data, crs="EPSG:4326", geometry=geometry)  # EPSG:4326 is WGS 84 (latitude/longitude)

# Step 5: (Optional) Transform CRS to UTM (e.g., EPSG:32647 for WGS 84 UTM Zone 47N)
gdf_utm = gdf.to_crs("EPSG:32647")  # Change to your desired CRS

# Step 6: Print results
print("GeoDataFrame with WGS 84:")
print(gdf.head())
print("\nGeoDataFrame with UTM (EPSG:32647):")
print(gdf_utm.head())

traj = gdf_utm['geometry'].to_numpy()
traj
gdf_utm

GPS data uploaded
Coordinates as Array:
[[ 13.617243 101.33732 ]
 [ 13.617243 101.33732 ]
 [ 13.61506  101.34002 ]
 ...
 [ 13.093137 100.909062]
 [ 13.093137 100.909062]
 [ 13.093137 100.909062]]
GeoDataFrame with WGS 84:
                        unitid               utc_ts        lat        lon  \
0  001000500000000196800100732  2024-11-01 06:00:12  13.617243  101.33732
1  001000500000000196800100732  2024-11-01 06:00:27  13.617243  101.33732
2  001000500000000196800100732  2024-11-01 06:01:11  13.615060  101.34002
3  001000500000000196800100732  2024-11-01 06:02:12  13.612705  101.34291
4  001000500000000196800100732  2024-11-01 06:02:28  13.612705  101.34291

   speed  typecode                    geometry
0     42         7  POINT (101.33732 13.61724)
1     42         7  POINT (101.33732 13.61724)
2     12         7  POINT (101.34002 13.61506)
3     23         7   POINT (101.34291 13.6127)
4     23         7   POINT (101.34291 13.6127)

GeoDataFrame with UTM (EPSG:32647):
                        unitid               utc_ts        lat        lon  \
0  001000500000000196800100732  2024-11-01 06:00:12  13.617243  101.33732
1  001000500000000196800100732  2024-11-01 06:00:27  13.617243  101.33732
2  001000500000000196800100732  2024-11-01 06:01:11  13.615060  101.34002
3  001000500000000196800100732  2024-11-01 06:02:12  13.612705  101.34291
4  001000500000000196800100732  2024-11-01 06:02:28  13.612705  101.34291

   speed  typecode                        geometry
0     42         7  POINT (752883.953 1506610.825)
1     42         7  POINT (752883.953 1506610.825)
2     12         7  POINT (753178.546 1506372.033)
3     23         7  POINT (753493.896 1506114.406)
4     23         7  POINT (753493.896 1506114.406)

,unitid,utc_ts,lat,lon,speed,typecode,geometry
0,001000500000000196800100732,2024-11-01 06:00:12,13.617243,101.337320,42,7,POINT (752883.953 1506610.825)
1,001000500000000196800100732,2024-11-01 06:00:27,13.617243,101.337320,42,7,POINT (752883.953 1506610.825)
2,001000500000000196800100732,2024-11-01 06:01:11,13.615060,101.340020,12,7,POINT (753178.546 1506372.033)
3,001000500000000196800100732,2024-11-01 06:02:12,13.612705,101.342910,23,7,POINT (753493.896 1506114.406)
4,001000500000000196800100732,2024-11-01 06:02:28,13.612705,101.342910,23,7,POINT (753493.896 1506114.406)
...,...,...,...,...,...,...,...
14915,159000100000000000000036022,2024-11-01 11:55:26.260000,13.093137,100.909062,0,5,POINT (706978.414 1448216.778)
14916,159000100000000000000036022,2024-11-01 11:56:27.270000,13.093137,100.909062,0,5,POINT (706978.414 1448216.778)
14917,159000100000000000000036022,2024-11-01 11:57:27.270000,13.093137,100.909062,0,5,POINT (706978.414 1448216.778)
14918,159000100000000000000036022,2024-11-01 11:58:27.270000,13.093137,100.909062,0,5,POINT (706978.414 1448216.778)
14919,159000100000000000000036022,2024-11-01 11:59:28.280000,13.093137,100.909062,0,5,POINT (706978.414 1448216.778)

In [ ]:

# Step 1: Load GPS data from CSV
gps_data = pd.read_csv(
    r"C:\Users\Admin\Downloads\truck_od_datanofilter.csv",
    encoding="latin1"  # Use the correct encoding for your file
)
print("GPS data uploaded")

# Step 2: Transform coordinates to a NumPy array
#coordinates_array = gps_data[['lat', 'lon']].to_numpy()
#print("Coordinates as Array:")
#print(coordinates_array)

# Step 3: Create Point geometries from lat/lon
geometry = [Point(xy) for xy in zip(gps_data['lon'], gps_data['lat'])]

# Step 4: Convert to GeoDataFrame
gdf = gpd.GeoDataFrame(gps_data, crs="EPSG:4326", geometry=geometry)  # EPSG:4326 is WGS 84 (latitude/longitude)

# Step 5: (Optional) Transform CRS to UTM (e.g., EPSG:32647 for WGS 84 UTM Zone 47N)
gdf_utm = gdf.to_crs("EPSG:32647")  # Change to your desired CRS



traj = gdf_utm['geometry'].to_numpy()
gdf_utm

GPS data uploaded

,unitid,utc_ts,lat,lon,speed,typecode,geometry
0,001000500000000196800100732,2024-11-01 06:00:12,13.617243,101.337320,42,7,POINT (752883.953 1506610.825)
1,001000500000000196800100732,2024-11-01 06:00:27,13.617243,101.337320,42,7,POINT (752883.953 1506610.825)
2,001000500000000196800100732,2024-11-01 06:01:11,13.615060,101.340020,12,7,POINT (753178.546 1506372.033)
3,001000500000000196800100732,2024-11-01 06:02:12,13.612705,101.342910,23,7,POINT (753493.896 1506114.406)
4,001000500000000196800100732,2024-11-01 06:02:28,13.612705,101.342910,23,7,POINT (753493.896 1506114.406)
...,...,...,...,...,...,...,...
14915,159000100000000000000036022,2024-11-01 11:55:26.260000,13.093137,100.909062,0,5,POINT (706978.414 1448216.778)
14916,159000100000000000000036022,2024-11-01 11:56:27.270000,13.093137,100.909062,0,5,POINT (706978.414 1448216.778)
14917,159000100000000000000036022,2024-11-01 11:57:27.270000,13.093137,100.909062,0,5,POINT (706978.414 1448216.778)
14918,159000100000000000000036022,2024-11-01 11:58:27.270000,13.093137,100.909062,0,5,POINT (706978.414 1448216.778)
14919,159000100000000000000036022,2024-11-01 11:59:28.280000,13.093137,100.909062,0,5,POINT (706978.414 1448216.778)

### Check the CRS/ Reproject

In [ ]:
print(polyline_data.crs)
polyline_data = polyline_data.to_crs("EPSG:32647")
print("changed to",polyline_data.crs)

EPSG:32647
changed to EPSG:32647

## Matching Algorithm

#### use library

In [ ]:
gdf_utm # TruckGPS data frame that pull from sprint1

,unitid,utc_ts,lat,lon,speed,typecode,geometry
0,001000500000000196800100732,2024-11-01 06:00:12,13.617243,101.337320,42,7,POINT (752883.953 1506610.825)
1,001000500000000196800100732,2024-11-01 06:00:27,13.617243,101.337320,42,7,POINT (752883.953 1506610.825)
2,001000500000000196800100732,2024-11-01 06:01:11,13.615060,101.340020,12,7,POINT (753178.546 1506372.033)
3,001000500000000196800100732,2024-11-01 06:02:12,13.612705,101.342910,23,7,POINT (753493.896 1506114.406)
4,001000500000000196800100732,2024-11-01 06:02:28,13.612705,101.342910,23,7,POINT (753493.896 1506114.406)
...,...,...,...,...,...,...,...
14915,159000100000000000000036022,2024-11-01 11:55:26.260000,13.093137,100.909062,0,5,POINT (706978.414 1448216.778)
14916,159000100000000000000036022,2024-11-01 11:56:27.270000,13.093137,100.909062,0,5,POINT (706978.414 1448216.778)
14917,159000100000000000000036022,2024-11-01 11:57:27.270000,13.093137,100.909062,0,5,POINT (706978.414 1448216.778)
14918,159000100000000000000036022,2024-11-01 11:58:27.270000,13.093137,100.909062,0,5,POINT (706978.414 1448216.778)
14919,159000100000000000000036022,2024-11-01 11:59:28.280000,13.093137,100.909062,0,5,POINT (706978.414 1448216.778)

In [ ]:
polyline_data

,id,section_pa,road_number,control,km_start,km_end,distance,geometry
0,305,5553,36,101,0+000,10+000,10,"LINESTRING (709309.55 1438227.317, 709491.064 ..."
1,2320,238,3510,100,0+000,25+921,25.921,"LINESTRING (570954.517 1469333.105, 570966.824..."
2,2189,10236,3333,102,18+462,34+167,15.705,"LINESTRING (705354.224 1646180.743, 705354.478..."
3,311,965,37,200,23+482,47+468,23.986,"LINESTRING (593264.76 1395498.21, 593269.299 1..."
4,2706,10121,4110,101,48+478,48+512,0.034,"LINESTRING (540272.057 917613.113, 540274.013 ..."
...,...,...,...,...,...,...,...,...
2961,133,11621,6,200,71+250,86+600,15.35,"LINESTRING (725956.272 1616062.127, 725991.824..."
2962,147,6325,7,102,0+000,0+512,0.512,"LINESTRING (690372.704 1518626.122, 690372.693..."
2963,640,11502,290,102,93+196,110+736,17.54,"LINESTRING (829006.967 1642440.253, 828992.601..."
2964,1317,5001,1400,100,0+000,4+829,4.829,"LINESTRING (513541.151 1866859.686, 513513.795..."
2965,77,11321,3,601,287+889,312+000,24.111,"LINESTRING (806232.692 1414503.685, 806236.588..."

In [ ]:
matched_gps_route = gpd.sjoin_nearest(gdf_utm, polyline_data, how="left")

In [ ]:
matched_gps_route

,unitid,utc_ts,lat,lon,speed,typecode,geometry,index_right,id,section_pa,road_number,control,km_start,km_end,distance
0,001000500000000196800100732,2024-11-01 06:00:12,13.617243,101.337320,42,7,POINT (752883.953 1506610.825),262,741,11354,331,301,106+700,128+400,21.7
1,001000500000000196800100732,2024-11-01 06:00:27,13.617243,101.337320,42,7,POINT (752883.953 1506610.825),262,741,11354,331,301,106+700,128+400,21.7
2,001000500000000196800100732,2024-11-01 06:01:11,13.615060,101.340020,12,7,POINT (753178.546 1506372.033),262,741,11354,331,301,106+700,128+400,21.7
3,001000500000000196800100732,2024-11-01 06:02:12,13.612705,101.342910,23,7,POINT (753493.896 1506114.406),262,741,11354,331,301,106+700,128+400,21.7
4,001000500000000196800100732,2024-11-01 06:02:28,13.612705,101.342910,23,7,POINT (753493.896 1506114.406),262,741,11354,331,301,106+700,128+400,21.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14915,159000100000000000000036022,2024-11-01 11:55:26.260000,13.093137,100.909062,0,5,POINT (706978.414 1448216.778),687,71,2320,3,402,119+500,137+640,18.14
14916,159000100000000000000036022,2024-11-01 11:56:27.270000,13.093137,100.909062,0,5,POINT (706978.414 1448216.778),687,71,2320,3,402,119+500,137+640,18.14
14917,159000100000000000000036022,2024-11-01 11:57:27.270000,13.093137,100.909062,0,5,POINT (706978.414 1448216.778),687,71,2320,3,402,119+500,137+640,18.14
14918,159000100000000000000036022,2024-11-01 11:58:27.270000,13.093137,100.909062,0,5,POINT (706978.414 1448216.778),687,71,2320,3,402,119+500,137+640,18.14
14919,159000100000000000000036022,2024-11-01 11:59:28.280000,13.093137,100.909062,0,5,POINT (706978.414 1448216.778),687,71,2320,3,402,119+500,137+640,18.14

In [ ]:
grouped_data = matched_gps_route.groupby('unitid').agg({
    'id': lambda x: list(sorted(set(x))),
    'section_pa': lambda x: list(sorted(set(x))),
    'road_number': lambda x: list(sorted(set(x))),
    'control': lambda x: list(sorted(set(x))),
    'distance':lambda x: list(sorted(set(x))),
    'km_start': lambda x: list(sorted(set(x))),
    'km_end': lambda x: list(sorted(set(x))),
}).reset_index()

### Result from sjoin_nearest algorithm

#### routes of traveling

In [ ]:
grouped_data
#sample_data = grouped_data.sample(n=10, random_state=42)
#sample_data = sample_data.sort_values(by='unitid', ascending=True)
#sample_data

,unitid,id,section_pa,road_number,control,distance,km_start,km_end
0,001000500000000196800100732,"[154, 2367, 2404, 2467, 2507, 71, 736, 737, 73...","[10214, 11354, 2320, 3796, 5550, 5605, 6114, 6...","[3, 331, 3574, 3608, 3701, 3702, 7]","[100, 102, 103, 109, 201, 202, 301, 400, 402]","[18.14, 21.3, 21.7, 30.3, 36.4, 41, 6.318, 7.7...","[0+000, 106+700, 119+500, 47+000, 6+000, 68+30...","[106+700, 116+544, 128+400, 137+640, 47+000, 6..."
1,001000800000010853300000004,"[150, 153, 154, 2403, 2404, 2406, 2467, 2507, ...","[11313, 11572, 2320, 5486, 5548, 5570, 5588, 5...","[3, 34, 3606, 3608, 361, 3611, 3701, 3702, 7]","[100, 102, 105, 108, 109, 200, 300, 400, 402]","[14.216, 17.3, 18.14, 20.7, 3.568, 3.728, 32.2...","[0+000, 119+500, 14+900, 35+600, 52+900, 77+80...","[110+000, 116+544, 137+640, 14+216, 3+568, 3+7..."
2,001000800c01000657800000010,"[150, 153, 154, 2403, 2404, 2467, 298, 299, 71...","[11313, 11572, 2320, 5548, 5570, 5588, 6134, 6...","[3, 34, 3606, 3608, 361, 3701, 7]","[100, 105, 108, 109, 200, 300, 400, 402]","[14.216, 17.3, 18.14, 3.568, 3.728, 32.2, 36.4...","[0+000, 119+500, 35+600, 52+900, 77+800, 80+144]","[110+000, 116+544, 137+640, 14+216, 3+568, 3+7..."
3,00300180000000T015820821430,"[149, 150, 153, 154, 2286, 2404, 2406, 2445, 2...","[10080, 10151, 11570, 11572, 1527, 2320, 3816,...","[3, 314, 3466, 3608, 3611, 3701, 3702, 7]","[100, 101, 102, 104, 105, 108, 109, 200, 301, ...","[0.165, 0.4, 1.1, 10.538, 13.025, 18.14, 3.55,...","[0+000, 119+500, 39+000, 40+735, 47+500, 47+80...","[0+165, 10+538, 110+000, 116+544, 137+640, 20+..."
4,00300180000000T015840140736,"[149, 150, 152, 154, 2403, 2404, 2406, 2443, 2...","[11570, 11572, 2320, 3816, 5555, 5570, 5577, 5...","[3, 34, 3606, 3608, 3611, 3701, 3702, 7]","[100, 104, 105, 107, 109, 200, 302, 400, 402]","[0.872, 17.3, 18.14, 3.55, 3.568, 32.2, 36.4, ...","[0+000, 119+500, 35+600, 39+000, 39+493, 40+73...","[110+000, 116+544, 137+640, 3+568, 4+000, 40+3..."
5,00700080000000000TW66101651,"[154, 2238, 2404, 71, 737, 738, 739, 740, 741]","[11354, 1166, 2320, 3796, 5550, 5600, 6114, 61...","[3, 331, 3401, 3608, 7]","[100, 103, 104, 109, 201, 202, 301, 402]","[16.542, 18.14, 21.3, 21.7, 27.864, 30.3, 7.7,...","[0+000, 106+700, 119+500, 47+000, 68+300, 76+400]","[106+700, 128+400, 137+640, 16+542, 27+864, 68..."
6,00700110000000000VT67102640,"[150, 153, 154, 2403, 2404, 2406, 2467, 2507, ...","[11313, 11572, 2320, 5548, 5549, 5570, 5588, 5...","[3, 34, 344, 3606, 3608, 361, 3611, 3701, 3702...","[100, 101, 105, 108, 109, 200, 300, 400, 402]","[14.216, 17.3, 18.14, 3.568, 3.625, 3.728, 32....","[0+000, 1+875, 119+500, 35+600, 52+900, 77+800...","[110+000, 116+544, 137+640, 14+216, 3+568, 3+7..."
7,008000600000000002102229086,"[150, 153, 154, 2404, 2406, 2467, 2507, 298, 2...","[11313, 11572, 2320, 5548, 5570, 5601, 6134, 6...","[3, 34, 3608, 361, 3611, 3701, 3702, 7]","[100, 105, 108, 109, 200, 300, 400, 402]","[14.216, 17.3, 18.14, 3.728, 32.2, 36.4, 5.955...","[0+000, 119+500, 35+600, 52+900, 77+800, 80+144]","[110+000, 116+544, 137+640, 14+216, 3+728, 52+..."
8,008000700000000002112518035,"[150, 153, 154, 157, 164, 1983, 2128, 2199, 24...","[10564, 10571, 11313, 11572, 11576, 1382, 1597...","[3, 303, 3113, 3268, 331, 3344, 34, 35, 3608, ...","[100, 101, 102, 104, 105, 108, 109, 200, 201, ...","[10.181, 13.1, 14.216, 14.66, 14.9, 15.269, 15...","[0+000, 10+000, 119+500, 14+660, 14+900, 18+50...","[110+000, 116+544, 12+700, 137+640, 14+216, 14..."
9,013000200000861311007959793,"[150, 153, 154, 2403, 2404, 2467, 2507, 298, 2...","[11313, 11572, 2320, 5548, 5570, 5588, 6134, 6...","[3, 34, 3606, 3608, 361, 3701, 3702, 7]","[100, 105, 108, 109, 200, 300, 400, 402]","[14.216, 17.3, 18.14, 3.568, 3.728, 32.2, 36.4...","[0+000, 119+500, 35+600, 52+900, 77+800, 80+144]","[110+000, 116+544, 137+640, 14+216, 3+568, 3+7..."
10,013000500000862997066401575,"[150, 153, 154, 2403, 2404, 2406, 2467, 2507, ...","[11313, 11572, 2320, 5545, 5548, 5549, 5570, 5...","[3, 315, 34, 344, 3606, 3608, 361, 3611, 3701,...","[100, 101, 105, 108, 109, 200, 300, 400, 402]","[14.216, 17.3, 18.14, 19.388, 3.568, 3.625, 3....","[0+000, 1+875, 119+500, 25+163, 35+600, 52+900...","[110+000, 116+544, 137+640, 14+216, 3+568, 3+7..."
11,013000500000862997066428107,"[150, 153, 154, 1997, 2373, 2403, 2404, 2406, ...","[11313, 11572, 2320, 5548, 5570, 5588, 5599, 5...","[3, 3144, 331, 34, 3576, 3606, 3608, 361, 3611...","[100, 104, 105, 108, 109, 200, 300, 400, 402]","[1.25, 14.216, 16.477, 16.542, 17.3, 18.14, 3....","[0+000, 119+500, 2+700, 35+600, 52+900, 77+800...","[1+250, 110+000, 116+544, 137+640, 14+216, 16+..."
12,013000500000864352048675250,"[150, 153, 154, 2403, 2404, 2467, 2507, 298, 2...","[11313, 11572, 2320, 5548, 5570, 5588, 5600, 6...","[3, 331, 34, 3606, 3608, 361, 3701, 3702, 7]","[100, 104, 105, 108, 109, 200, 300, 400, 402]","[14.216, 16.542, 17.3, 18.14, 3.568, 3.728, 32...","[0+000, 119+500, 35+600, 52+900, 77+800, 80+144]","[110+000, 116+544, 137+640, 14+216, 16+542, 3+..."
13,019000300000000001218409628,"[150, 152, 153, 154, 2404, 2467, 2507, 297, 29...","[11313, 11572, 2320, 5486, 5548, 5570, 5969, 6...","[3, 34, 3608, 361, 3701, 3702, 7]","[100, 102, 105, 107, 108, 109, 200, 300, 400, ...","[14.216, 17.3, 18.14, 20.7, 3.728, 32.2, 36.4,...","[0+000, 119+500, 14+900, 35+600, 52+900, 77+80...","[110+000, 116+544, 137+640, 14+216, 3+728, 35+..."
14,019000700000720211901001898,"[150, 153, 154, 2404, 2467, 298, 299, 807]","[11313, 11572, 5548, 5570, 6134, 6207, 6294, 6...","[34, 3608, 361, 3701, 7]","[100, 105, 108, 109, 200, 300, 400]","[14.216, 17.3, 3.728, 32.2, 36.4, 5.955, 7.7, ...","[0+000, 35+600, 52+900, 77+800, 80+144]","[110+000, 116+544, 14+216, 3+728, 52+900, 58+8..."
15,022000200000000000020082199,"[154, 2404, 2507, 71, 737, 738, 739, 740, 741]","[11354, 2320, 3796, 5550, 5600, 6114, 6134, 62...","[3, 331, 3608, 3702, 7]","[100, 103, 104, 109, 201, 202, 301, 400, 402]","[16.542, 18.14, 21.3, 21.7, 30.3, 36.4, 7.7, 8...","[0+000, 106+700, 119+500, 47+000, 68+300, 76+4...","[106+700, 116+544, 128+400, 137+640, 16+542, 6..."
16,036000500000864352045840311,"[154, 2238, 2404, 2507, 71, 736, 737, 738, 739...","[10214, 11354, 1166, 2320, 3796, 5550, 5600, 6...","[3, 331, 3401, 3608, 3702, 7]","[100, 102, 103, 104, 109, 201, 202, 301, 400, ...","[16.542, 18.14, 21.3, 21.7, 27.864, 30.3, 36.4...","[0+000, 106+700, 119+500, 47+000, 6+000, 68+30...","[106+700, 116+544, 128+400, 137+640, 16+542, 2..."
17,036000500000864352046564464,"[150, 153, 154, 2403, 2404, 2467, 2507, 298, 2...","[11313, 11572, 2320, 5545, 5548, 5570, 5588, 5...","[3, 315, 331, 34, 3606, 3608, 361, 3701, 3702, 7]","[100, 104, 105, 108, 109, 200, 300, 400, 402]","[14.216, 16.542, 17.3, 18.14, 19.388, 3.568, 3...","[0+000, 119+500, 25+163, 35+600, 52+900, 77+80...","[110+000, 116+544, 137+640, 14+216, 16+542, 3+..."
18,036000500000868998039802646,"[150, 153, 154, 2286, 2403, 2404, 2467, 2507, ...","[11313, 11572, 1527, 2320, 5490, 5548, 5549, 5...","[3, 314, 34, 344, 3466, 3606, 3608, 361, 3701,...","[100, 101, 105, 108, 109, 200, 300, 400, 402]","[10.538, 14.216, 17.3, 18.14, 3.568, 3.625, 3....","[0+000, 1+875, 119+500, 35+600, 52+900, 77+800...","[10+538, 110+000, 116+544, 137+640, 14+216, 3+..."
19,0390002000000000000EE020822,"[150, 153, 154, 2404, 2467, 298, 299, 71, 807]","[11313, 11572, 2320, 5548, 5570, 6134, 6207, 6...","[3, 34, 3608, 361, 3701, 7]","[100, 105, 108, 109, 200, 300, 400, 402]","[14.216, 17.3, 18.14, 3.728, 32.2, 36.4, 5.955...","[0+000, 119+500, 35+600, 52+900, 77+800, 80+144]","[110+000, 116+544, 137+640, 14+216, 3+728, 52+..."
20,0390002000000000000EE106699,"[150, 153, 154, 2404, 2467, 2507, 297, 298, 29...","[11313, 11572, 2320, 5486, 5548, 5570, 6134, 6...","[3, 34, 3608, 361, 3701, 3702, 7]","[100, 102, 105, 108, 109, 200, 300, 400, 402]","[14.216, 17.3, 18.14, 20.7, 3.728, 32.2, 36.4,...","[0+000, 119+500, 14+900, 35+600, 52+900, 77+80...","[110+000, 116+544, 137+640, 14+216, 3+728, 35+..."
21,0390004000000000000RE067661,"[154, 2404, 2507, 71, 736, 737, 738, 739, 740,...","[10214, 11354, 2320, 3796, 5550, 5600, 6114, 6...","[3, 331, 3608, 3702, 7]","[100, 102, 103, 104, 109, 201, 202, 301, 400, ...","[16.542, 18.14, 21.3, 21.7, 30.3, 36.4, 41, 7....","[0+000, 106+700, 119+500, 47+000, 6+000, 68+30...","[106+700, 116+544, 128+400, 137+640, 16+542, 4..."
22,0390004000000000000RE068240,"[154, 2404, 737, 738, 739, 740, 741]","[11354, 3796, 5550, 5600, 6114, 6134, 6308]","[331, 3608, 7]","[100, 103, 104, 109, 201, 202, 301]","[16.542, 21.3, 21.7, 30.3, 7.7, 8.091, 8.1]","[0+000, 106+700, 47+000, 68+300, 76+400]","[106+700, 128+400, 16+542, 68+300, 7+700, 76+4..."
23,042000600000359857080003429,"[154, 2404, 71, 736, 737, 738, 739, 740, 741]","[10214, 11354, 2320, 3796, 5550, 5600, 6114, 6...","[3, 331, 3608, 7]","[100, 102, 103, 104, 109, 201, 202, 301, 402]","[16.542, 18.14, 21.3, 21.7, 30.3, 41, 7.7, 8.0...","[0+000, 106+700, 119+500, 47+000, 6+000, 68+30...","[106+700, 128+400, 137+640, 16+542, 47+000, 68..."
24,055000200000357042067378191,"[150, 153, 154, 2403, 2404, 2467, 298, 299, 71...","[11313, 11572, 2320, 5548, 5570, 5588, 6134, 6...","[3, 34, 3606, 3608, 361, 3701, 7]","[100, 105, 108, 109, 200, 300, 400, 402]","[14.216, 17.3, 18.14, 3.568, 3.728, 32.2, 36.4...","[0+000, 119+500, 35+600, 52+900, 77+800, 80+144]","[110+000, 116+544, 137+640, 14+216, 3+568, 3+7..."
25,057000608850867553058719212,"[2404, 71, 736, 737, 738, 739, 740, 741]","[10214, 11354, 2320, 3796, 5550, 5600, 6114, 6...","[3, 331, 3608]","[100, 102, 103, 104, 201, 202, 301, 402]","[16.542, 18.14, 21.3, 21.7, 30.3, 41, 7.7, 8.1]","[0+000, 106+700, 119+500, 47+000, 6+000, 68+30...","[106+700, 128+400, 137+640, 16+542, 47+000, 68..."
26,057000706250864352044147767,"[150, 153, 154, 2403, 2404, 2467, 298, 299, 71...","[11313, 11572, 2320, 5548, 5570, 5588, 5600, 6...","[3, 331, 34, 3606, 3608, 361, 3701, 7]","[100, 104, 105, 108, 109, 200, 300, 400, 402]","[14.216, 16.542, 17.3, 18.14, 3.568, 3.728, 32...","[0+000, 119+500, 35+600, 52+900, 77+800, 80+144]","[110+000, 116+544, 137+640, 14+216, 16+542, 3+..."
27,059000100000868998032875094,"[150, 154, 2406, 2467, 2507, 71, 736, 737, 738...","[10214, 11354, 11572, 2320, 3796, 5550, 5600, ...","[3, 331, 3611, 3701, 3702, 7]","[100, 102, 103, 104, 105, 109, 201, 202, 301, ...","[16.542, 18.14, 21.3, 21.7, 30.3, 32.2, 36.4, ...","[0+000, 106+700, 119+500, 47+000, 6+000, 68+30...","[106+700, 110+000, 116+544, 128+400, 137+640, ..."
28,077000500000000019724560396,"[150, 154, 2223, 2404, 2406, 2467, 305, 306, 3...","[10214, 10216, 11354, 11572, 2320, 3796, 5517,...","[3, 331, 3376, 36, 3608, 3611, 3701, 7]","[100, 101, 102, 103, 104, 105, 109, 201, 202, ...","[10, 11.592, 15.295, 16.542, 18.14, 21.3, 21.7...","[0+000, 1+000, 10+000, 106+700, 119+500, 21+59...","[10+000, 106+700, 110+000, 116+544, 128+400, 1..."
29,150000100000864352044654093,"[150, 154, 2404, 2467, 2507, 71, 736, 737, 738...","[10214, 11354, 11572, 2320, 3796, 5550, 5600, ...","[3, 331, 3608, 3701, 3702, 7]","[100, 102, 103, 104, 105, 109, 201, 202, 301, ...","[16.542, 18.14, 21.3, 21.7, 30.3, 32.2, 36.4, ...","[0+000, 106+700, 119+500, 47+000, 6+000, 68+30...","[106+700, 110+000, 116+544, 128+400, 137+640, ..."
30,150000100000864352044664993,"[150, 2156, 2238, 2404, 2406, 2467, 2507, 71, ...","[10214, 11354, 11572, 1166, 2320, 3796, 5550, ...","[3, 3304, 331, 3401, 3608, 3611, 3701, 3702, 7]","[100, 102, 103, 104, 105, 201, 202, 301, 400, ...","[16.542, 18.14, 20.279, 21.3, 21.7, 27.864, 30...","[0+000, 106+700, 119+500, 47+000, 6+000, 68+30...","[106+700, 110+000, 116+544, 128+400, 137+640, ..."
31,150000100000864606045886735,"[2238, 2404, 2406, 71, 737, 738, 739, 740, 741]","[11354, 1166, 2320, 3796, 5550, 5600, 5601, 61...","[3, 331, 3401, 3608, 3611]","[100, 103, 104, 201, 202, 301, 402]","[16.542, 18.14, 21.3, 21.7, 27.864, 30.3, 7.7,...","[0+000, 106+700, 119+500, 47+000, 68+300, 76+400]","[106+700, 128+400, 137+640, 16+542, 27+864, 68..."
32,150000700000864450044953273,"[154, 2404, 2406, 2467, 2507, 71, 736, 737, 73...","[10214, 11354, 2320, 3796, 5550, 5601, 6114, 6...","[3, 331, 3608, 3611, 3701, 3702, 7]","[100, 102, 103, 109, 201, 202, 301, 400, 402]","[18.14, 21.3, 21.7, 30.3, 36.4, 41, 7.7, 8.091...","[0+000, 106+700, 119+500, 47+000, 6+000, 68+30...","[106+700, 116+544, 128+400, 137+640, 47+000, 6..."
33,159000100000000000000036022,"[150, 153, 154, 1990, 1991, 2156, 2286, 2404, ...","[10151, 11313, 11354, 1148, 11572, 1527, 2320,...","[3, 3127, 315, 3304, 331, 34, 3466, 3608, 361,...","[100, 105, 108, 109, 200, 300, 301, 400, 402]","[10.538, 10.88, 11.943, 13.36, 14.216, 18.14, ...","[0+000, 10+880, 106+700, 119+500, 52+900, 59+3...","[10+538, 10+880, 110+000, 116+544, 128+400, 13..."

#### total distance

In [ ]:


# Apply function to
grouped_data['distance'] = grouped_data['distance'].apply(lambda x: [pd.to_numeric(i, errors='coerce') for i in x])
grouped_data

def sum_array(arr):
    if isinstance(arr, list):
        return sum(arr)
    elif isinstance(arr, float) or isinstance(arr, int):
        return arr  # Handle cases where a single number is present
    else:
        return 0  # Return 0 for other cases (e.g., empty or non-numeric)

# Apply the function to the 'distance' column and create a new 'total_distance' column
grouped_data['total_distance'] = grouped_data['distance'].apply(sum_array)

total_dist_truck= grouped_data

In [ ]:
total_dist_truck1 = total_dist_truck.drop(["km_start", "km_end",'distance'], axis=1)
total_dist_truck1

,unitid,id,section_pa,road_number,control,total_distance
0,001000500000000196800100732,"[154, 2367, 2404, 2467, 2507, 71, 736, 737, 73...","[10214, 11354, 2320, 3796, 5550, 5605, 6114, 6...","[3, 331, 3574, 3608, 3701, 3702, 7]","[100, 102, 103, 109, 201, 202, 301, 400, 402]",199.049
1,001000800000010853300000004,"[150, 153, 154, 2403, 2404, 2406, 2467, 2507, ...","[11313, 11572, 2320, 5486, 5548, 5570, 5588, 5...","[3, 34, 3606, 3608, 361, 3611, 3701, 3702, 7]","[100, 102, 105, 108, 109, 200, 300, 400, 402]",167.998
2,001000800c01000657800000010,"[150, 153, 154, 2403, 2404, 2467, 298, 299, 71...","[11313, 11572, 2320, 5548, 5570, 5588, 6134, 6...","[3, 34, 3606, 3608, 361, 3701, 7]","[100, 105, 108, 109, 200, 300, 400, 402]",147.298
3,00300180000000T015820821430,"[149, 150, 153, 154, 2286, 2404, 2406, 2445, 2...","[10080, 10151, 11570, 11572, 1527, 2320, 3816,...","[3, 314, 3466, 3608, 3611, 3701, 3702, 7]","[100, 101, 102, 104, 105, 108, 109, 200, 301, ...",205.081
4,00300180000000T015840140736,"[149, 150, 152, 154, 2403, 2404, 2406, 2443, 2...","[11570, 11572, 2320, 3816, 5555, 5570, 5577, 5...","[3, 34, 3606, 3608, 3611, 3701, 3702, 7]","[100, 104, 105, 107, 109, 200, 302, 400, 402]",180.786
5,00700080000000000TW66101651,"[154, 2238, 2404, 71, 737, 738, 739, 740, 741]","[11354, 1166, 2320, 3796, 5550, 5600, 6114, 61...","[3, 331, 3401, 3608, 7]","[100, 103, 104, 109, 201, 202, 301, 402]",159.737
6,00700110000000000VT67102640,"[150, 153, 154, 2403, 2404, 2406, 2467, 2507, ...","[11313, 11572, 2320, 5548, 5549, 5570, 5588, 5...","[3, 34, 344, 3606, 3608, 361, 3611, 3701, 3702...","[100, 101, 105, 108, 109, 200, 300, 400, 402]",150.923
7,008000600000000002102229086,"[150, 153, 154, 2404, 2406, 2467, 2507, 298, 2...","[11313, 11572, 2320, 5548, 5570, 5601, 6134, 6...","[3, 34, 3608, 361, 3611, 3701, 3702, 7]","[100, 105, 108, 109, 200, 300, 400, 402]",143.730
8,008000700000000002112518035,"[150, 153, 154, 157, 164, 1983, 2128, 2199, 24...","[10564, 10571, 11313, 11572, 11576, 1382, 1597...","[3, 303, 3113, 3268, 331, 3344, 34, 35, 3608, ...","[100, 101, 102, 104, 105, 108, 109, 200, 201, ...",345.891
9,013000200000861311007959793,"[150, 153, 154, 2403, 2404, 2467, 2507, 298, 2...","[11313, 11572, 2320, 5548, 5570, 5588, 6134, 6...","[3, 34, 3606, 3608, 361, 3701, 3702, 7]","[100, 105, 108, 109, 200, 300, 400, 402]",147.298
10,013000500000862997066401575,"[150, 153, 154, 2403, 2404, 2406, 2467, 2507, ...","[11313, 11572, 2320, 5545, 5548, 5549, 5570, 5...","[3, 315, 34, 344, 3606, 3608, 361, 3611, 3701,...","[100, 101, 105, 108, 109, 200, 300, 400, 402]",170.311
11,013000500000862997066428107,"[150, 153, 154, 1997, 2373, 2403, 2404, 2406, ...","[11313, 11572, 2320, 5548, 5570, 5588, 5599, 5...","[3, 3144, 331, 34, 3576, 3606, 3608, 361, 3611...","[100, 104, 105, 108, 109, 200, 300, 400, 402]",181.567
12,013000500000864352048675250,"[150, 153, 154, 2403, 2404, 2467, 2507, 298, 2...","[11313, 11572, 2320, 5548, 5570, 5588, 5600, 6...","[3, 331, 34, 3606, 3608, 361, 3701, 3702, 7]","[100, 104, 105, 108, 109, 200, 300, 400, 402]",163.840
13,019000300000000001218409628,"[150, 152, 153, 154, 2404, 2467, 2507, 297, 29...","[11313, 11572, 2320, 5486, 5548, 5570, 5969, 6...","[3, 34, 3608, 361, 3701, 3702, 7]","[100, 102, 105, 107, 108, 109, 200, 300, 400, ...",168.430
14,019000700000720211901001898,"[150, 153, 154, 2404, 2467, 298, 299, 807]","[11313, 11572, 5548, 5570, 6134, 6207, 6294, 6...","[34, 3608, 361, 3701, 7]","[100, 105, 108, 109, 200, 300, 400]",125.590
15,022000200000000000020082199,"[154, 2404, 2507, 71, 737, 738, 739, 740, 741]","[11354, 2320, 3796, 5550, 5600, 6114, 6134, 62...","[3, 331, 3608, 3702, 7]","[100, 103, 104, 109, 201, 202, 301, 400, 402]",168.273
16,036000500000864352045840311,"[154, 2238, 2404, 2507, 71, 736, 737, 738, 739...","[10214, 11354, 1166, 2320, 3796, 5550, 5600, 6...","[3, 331, 3401, 3608, 3702, 7]","[100, 102, 103, 104, 109, 201, 202, 301, 400, ...",237.137
17,036000500000864352046564464,"[150, 153, 154, 2403, 2404, 2467, 2507, 298, 2...","[11313, 11572, 2320, 5545, 5548, 5570, 5588, 5...","[3, 315, 331, 34, 3606, 3608, 361, 3701, 3702, 7]","[100, 104, 105, 108, 109, 200, 300, 400, 402]",183.228
18,036000500000868998039802646,"[150, 153, 154, 2286, 2403, 2404, 2467, 2507, ...","[11313, 11572, 1527, 2320, 5490, 5548, 5549, 5...","[3, 314, 34, 344, 3466, 3606, 3608, 361, 3701,...","[100, 101, 105, 108, 109, 200, 300, 400, 402]",168.936
19,0390002000000000000EE020822,"[150, 153, 154, 2404, 2467, 298, 299, 71, 807]","[11313, 11572, 2320, 5548, 5570, 6134, 6207, 6...","[3, 34, 3608, 361, 3701, 7]","[100, 105, 108, 109, 200, 300, 400, 402]",143.730
20,0390002000000000000EE106699,"[150, 153, 154, 2404, 2467, 2507, 297, 298, 29...","[11313, 11572, 2320, 5486, 5548, 5570, 6134, 6...","[3, 34, 3608, 361, 3701, 3702, 7]","[100, 102, 105, 108, 109, 200, 300, 400, 402]",164.430
21,0390004000000000000RE067661,"[154, 2404, 2507, 71, 736, 737, 738, 739, 740,...","[10214, 11354, 2320, 3796, 5550, 5600, 6114, 6...","[3, 331, 3608, 3702, 7]","[100, 102, 103, 104, 109, 201, 202, 301, 400, ...",209.273
22,0390004000000000000RE068240,"[154, 2404, 737, 738, 739, 740, 741]","[11354, 3796, 5550, 5600, 6114, 6134, 6308]","[331, 3608, 7]","[100, 103, 104, 109, 201, 202, 301]",113.733
23,042000600000359857080003429,"[154, 2404, 71, 736, 737, 738, 739, 740, 741]","[10214, 11354, 2320, 3796, 5550, 5600, 6114, 6...","[3, 331, 3608, 7]","[100, 102, 103, 104, 109, 201, 202, 301, 402]",172.873
24,055000200000357042067378191,"[150, 153, 154, 2403, 2404, 2467, 298, 299, 71...","[11313, 11572, 2320, 5548, 5570, 5588, 6134, 6...","[3, 34, 3606, 3608, 361, 3701, 7]","[100, 105, 108, 109, 200, 300, 400, 402]",147.298
25,057000608850867553058719212,"[2404, 71, 736, 737, 738, 739, 740, 741]","[10214, 11354, 2320, 3796, 5550, 5600, 6114, 6...","[3, 331, 3608]","[100, 102, 103, 104, 201, 202, 301, 402]",164.782
26,057000706250864352044147767,"[150, 153, 154, 2403, 2404, 2467, 298, 299, 71...","[11313, 11572, 2320, 5548, 5570, 5588, 5600, 6...","[3, 331, 34, 3606, 3608, 361, 3701, 7]","[100, 104, 105, 108, 109, 200, 300, 400, 402]",163.840
27,059000100000868998032875094,"[150, 154, 2406, 2467, 2507, 71, 736, 737, 738...","[10214, 11354, 11572, 2320, 3796, 5550, 5600, ...","[3, 331, 3611, 3701, 3702, 7]","[100, 102, 103, 104, 105, 109, 201, 202, 301, ...",241.473
28,077000500000000019724560396,"[150, 154, 2223, 2404, 2406, 2467, 305, 306, 3...","[10214, 10216, 11354, 11572, 2320, 3796, 5517,...","[3, 331, 3376, 36, 3608, 3611, 3701, 7]","[100, 101, 102, 103, 104, 105, 109, 201, 202, ...",308.102
29,150000100000864352044654093,"[150, 154, 2404, 2467, 2507, 71, 736, 737, 738...","[10214, 11354, 11572, 2320, 3796, 5550, 5600, ...","[3, 331, 3608, 3701, 3702, 7]","[100, 102, 103, 104, 105, 109, 201, 202, 301, ...",241.473
30,150000100000864352044664993,"[150, 2156, 2238, 2404, 2406, 2467, 2507, 71, ...","[10214, 11354, 11572, 1166, 2320, 3796, 5550, ...","[3, 3304, 331, 3401, 3608, 3611, 3701, 3702, 7]","[100, 102, 103, 104, 105, 201, 202, 301, 400, ...",281.525
31,150000100000864606045886735,"[2238, 2404, 2406, 71, 737, 738, 739, 740, 741]","[11354, 1166, 2320, 3796, 5550, 5600, 5601, 61...","[3, 331, 3401, 3608, 3611]","[100, 103, 104, 201, 202, 301, 402]",151.646
32,150000700000864450044953273,"[154, 2404, 2406, 2467, 2507, 71, 736, 737, 73...","[10214, 11354, 2320, 3796, 5550, 5601, 6114, 6...","[3, 331, 3608, 3611, 3701, 3702, 7]","[100, 102, 103, 109, 201, 202, 301, 400, 402]",192.731
33,159000100000000000000036022,"[150, 153, 154, 1990, 1991, 2156, 2286, 2404, ...","[10151, 11313, 11354, 1148, 11572, 1527, 2320,...","[3, 3127, 315, 3304, 331, 34, 3466, 3608, 361,...","[100, 105, 108, 109, 200, 300, 301, 400, 402]",231.500

:

In [ ]:
def calculate_total_distance(km_start, km_end):
    # Convert strings to numerical values
    start = [float(s.replace('+', '.')) for s in km_start]
    end = [float(e.replace('+', '.')) for e in km_end]
    # Calculate the differences and sum them
    return sum(e - s for s, e in zip(start, end))

# Apply the function to calculate total distance
grouped_data['total_distance'] = grouped_data.apply(lambda row: calculate_total_distance(row['km_start'], row['km_end']), axis=1)
total_dist_truck = grouped_data.drop(columns=['km_start', 'km_end',id])

# Display the resulting DataFrame
total_dist_truck

KeyError: '[<built-in function id>] not found in axis'

##### save file

In [ ]:
output_file = 'D:/Decarbonization Project/result/total_distance_result_(nofilter3).csv'
total_dist_truck.to_csv(output_file, index=False)

### compare result to QGIS

In [ ]:
qgis_result = pd.read_csv(
    r"D:\Decarbonization Project\result\qgis_result.csv",
    encoding="latin1"  # Use the correct encoding for your file
)
qgis_result.rename(columns={
    qgis_result.columns[8]: 'road_number',  # Rename column index 3
    qgis_result.columns[9]: 'control',
    qgis_result.columns[11]: 'km_start',      # Rename column index 4
    qgis_result.columns[12]: 'km_end',      # Rename column index 4
    qgis_result.columns[13]: 'distance'     # Rename column index 8
}, inplace=True)

qgis_result = qgis_result[['unitid', 'id', 'section_pa', 'road_number', 'control', 'km_start', 'km_end', 'distance']]


qgis_result = qgis_result.groupby('unitid').agg({
    'id': lambda x: list(sorted(set(x))),
    'section_pa': lambda x: list(sorted(set(x))),
    'road_number': lambda x: list(sorted(set(x))),
    'control': lambda x: list(sorted(set(x))),
    'km_start': lambda x: list(sorted(set(x))),
    'km_end': lambda x: list(sorted(set(x))),
}).reset_index()
qgis_result

,unitid,id,section_pa,road_number,control,km_start,km_end
0,001000600000010581700000064,"[160, 161, 162, 774, 775, 776, 782, 783, 2387]","[1683, 1924, 3164, 5504, 5510, 5964, 6161, 631...","[9, 346, 347, 3591]","[101, 102, 103, 201, 202, 301, 302]","[0+000, 1+740, 11+350, 15+881, 20+480, 43+031,...","[0+800, 11+350, 15+881, 20+480, 20+643, 32+537..."
1,001000800000010344700000006,"[661, 662, 736, 737, 739, 740, 741, 742, 805, ...","[54, 646, 1166, 1640, 2343, 2635, 3796, 5550, ...","[304, 331, 359, 3079, 3281, 3340, 3401]","[100, 102, 103, 200, 201, 202, 301, 302, 304, ...","[0+000, 106+700, 108+000, 126+416, 128+400, 20...","[1+244, 106+700, 126+416, 128+400, 139+855, 14..."
2,001001200000011138900000002,"[5, 130, 162, 163, 275, 276, 287, 656, 679, 79...","[609, 2756, 2757, 2758, 2759, 2761, 3170, 3771...","[1, 6, 9, 32, 33, 304, 309, 352, 3043, 3056, 3...","[100, 101, 102, 200, 201, 202, 203, 300, 302, ...","[0+000, 1+570, 11+339, 12+348, 14+000, 22+000,...","[1+570, 1+869, 11+279, 12+348, 14+000, 17+250,..."
3,006000500000868998033959020,[1986],[3968],[3119],[102],[5+309],[11+003]
4,00700080000000000TW65061493,"[150, 153, 296, 297, 298, 299, 807, 1997, 2467...","[1597, 5486, 5548, 5570, 5599, 6203, 6207, 629...","[7, 34, 361, 3144, 3701, 3702]","[100, 101, 102, 105, 108, 200, 300, 400]","[0+000, 14+900, 2+700, 35+600, 52+900, 77+800,...","[110+000, 116+544, 14+216, 14+900, 19+177, 3+7..."
5,010000106071720003-S1602193,[2507],[6203],[3702],[400],[80+144],[116+544]
6,021000800000359857082080094,[2507],[6203],[3702],[400],[80+144],[116+544]
7,033000400000863835026197900,[2367],[5605],[3574],[100],[0+000],[6+318]
8,167000100000864606044975885,"[146, 148, 149, 163, 164, 655, 668, 697, 698, ...","[545, 2743, 2745, 2826, 2827, 2832, 2833, 2834...","[7, 9, 304, 305, 314, 352, 3214, 3261, 3312, 3...","[100, 101, 102, 103, 104, 200, 202, 401, 402, ...","[0+000, 11+339, 12+348, 13+118, 19+600, 21+000...","[10+526, 12+348, 15+033, 15+145, 20+371, 20+50..."
9,195000600000359857082593302,[301],[1977],[35],[201],[14+660],[30+275]

# sandbox

In [ ]:
from leuvenmapmatching.matcher.distance import DistanceMatcher
from leuvenmapmatching.map.inmem import InMemMap

def match_path_to_graph(path, graph):
    map_con = InMemMap("myosm", use_latlon=True, use_rtree=True, index_edges=True)

    nodes_id = list(graph.nodes)
    for node in nodes_id:
        lat = graph.nodes[node]['y']
        lon = graph.nodes[node]['x']
        map_con.add_node(node, (lat, lon))

    edges_id = list(graph.edges)
    for edge in edges_id:
        node_a, node_b = edge[0], edge[1]
        map_con.add_edge(node_a, node_b)
        map_con.add_edge(node_b, node_a)  # Add reverse edge

    map_con.purge()

    matcher = DistanceMatcher(map_con, max_dist=30, obs_noise=20, min_prob_norm=0.5,
                              non_emitting_states=True, only_edges=True)
    states, _ = matcher.match(path)
    nodes = matcher.path_pred_onlynodes

    return states, nodes

states, nodes = match_path_to_graph(traj, graph)

#### use urbun informatic algorithm

In [ ]:
route_waypoints = list(zip(polyline_data['latitude'], polyline_data['longtitute']))
edges_gdf

In [ ]:
edges_gdf

,road_id,start_node,end_node,geometry
0,305,305_start,305_end,"LINESTRING (709309.55 1438227.317, 716425.089 ..."
1,2320,2320_start,2320_end,"LINESTRING (570954.517 1469333.105, 578367.864..."
2,2189,2189_start,2189_end,"LINESTRING (705354.224 1646180.743, 720669.275..."
3,311,311_start,311_end,"LINESTRING (593264.76 1395498.21, 600538.044 1..."
4,2706,2706_start,2706_end,"LINESTRING (540272.057 917613.113, 540277.904 ..."
...,...,...,...,...
2961,133,133_start,133_end,"LINESTRING (725956.272 1616062.127, 739156.143..."
2962,147,147_start,147_end,"LINESTRING (690372.704 1518626.122, 690432.806..."
2963,640,640_start,640_end,"LINESTRING (829006.967 1642440.253, 814190.684..."
2964,1317,1317_start,1317_end,"LINESTRING (513541.151 1866859.686, 512543.764..."
2965,77,77_start,77_end,"LINESTRING (806232.692 1414503.685, 826489.874..."

In [ ]:
nodes_gdf

         node_id                        geometry
0      305_start   POINT (709309.55 1438227.317)
1        305_end  POINT (716425.089 1431473.244)
2     2320_start  POINT (570954.517 1469333.105)
3       2320_end  POINT (578367.864 1445641.093)
4     2189_start  POINT (705354.224 1646180.743)
...          ...                             ...
5927     640_end  POINT (814190.684 1650150.671)
5928  1317_start  POINT (513541.151 1866859.686)
5929    1317_end  POINT (512543.764 1863318.471)
5930    77_start  POINT (806232.692 1414503.685)
5931      77_end  POINT (826489.874 1403639.577)

[5932 rows x 2 columns]

##### Algorithm 6.1

In [ ]:
def obtain_route_edges(route_waypoints,places):
    """
    To obtain a set of route edges.

    :param route_waypoints: List of waypoints, where each waypoint is represented as (Lat, Lng)
    :return: Set of route edges
    """
    M = len(route_waypoints)
    route_edges = []
    cumulative_distance = 0  # Initialize cumulative distance

    for i in range(M - 1):
        # Extract latitude and longitude for points i and i+1
        Lat_i, Lng_i = route_waypoints[i]
        Lat_next, Lng_next = route_waypoints[i + 1]
        road_intersect_1 = places[i]
        road_intersect_2 = places[i+1]

        # Calculate slope with zero-division handling
        if Lng_next == Lng_i:
            m_i = float('inf')  # Use infinity to represent a vertical slope
        else:
            m_i = (Lat_next - Lat_i) / (Lng_next - Lng_i)

        # Calculate the distance between the two points
        l_i = haversine_distance(route_waypoints[i], route_waypoints[i + 1])

        # Update cumulative distance
        cumulative_distance += l_i

        # Create the route edge with required attributes
        edge = (route_waypoints[i], route_waypoints[i + 1], m_i, l_i, cumulative_distance, road_intersect_1, road_intersect_2)
        route_edges.append(edge)

    # Convert the list of edges to the required output format
    return route_edges




def haversine_distance(point1, point2):
    """
    Calculate the great-circle distance between two points on the Earth using the Haversine formula.

    :param point1: Tuple (Lat1, Lng1) in degrees
    :param point2: Tuple (Lat2, Lng2) in degrees
    :return: Distance in kilometers
    """
    R = 6371  # Earth's radius in kilometers

    # Convert latitude and longitude from degrees to radians
    Lat1, Lng1 = map(radians, point1)
    Lat2, Lng2 = map(radians, point2)

    # Haversine formula
    dLat = Lat2 - Lat1
    dLng = Lng2 - Lng1
    a = sin(dLat / 2)**2 + cos(Lat1) * cos(Lat2) * sin(dLng / 2)**2
    c = 2 * asin(sqrt(a))
    distance = R * c
    # Distance in kilometers
    return distance

In [ ]:
route_edges = obtain_route_edges(route_waypoints,places)

##### Algorithm 6.2

In [ ]:
E_k = edges_gdf

In [ ]:
import numpy as np

def interpolate_route(E_k, t):
    """
    To obtain interpolated route waypoints based on Algorithm 6.2.

    :param E_k: List of route edges, where each edge is defined as
                (Lng(i), Lat(i), Lng(i+1), Lat(i+1), m(i), l(i), C(i)).
    :param t: Number of interpolated edges (new waypoints).
    :return: List of interpolated waypoints (Lng, Lat).
    """
    Intersection_Route_with_t_waypoints = []
    for edge in E_k:
         r_k = []  # To store the interpolated waypoints
         ((Lat1, Lng1), (Lat2, Lng2), m_i, l_i, C_i , Road_Intersect_1, Road_Intersect_2) = edge
         for i_prime in range(1, t):  # i' ← 1 to t - 1
            delta_L = i_prime * (l_i / t)    #Δl ← i' * l' - C(i)
            theta = np.arctan(m_i)
                # Determine the interpolated waypoint
            if Lng1 < Lng2:
                 Lng_interp = Lng1 + delta_L * np.cos(theta)
                 Lat_interp = Lat1 + delta_L * np.sin(theta)
            else:
                 Lng_interp = Lng1 - delta_L * np.cos(theta)
                 Lat_interp = Lat1 - delta_L * np.sin(theta)

                # x_k(i') ← {Lat(i'), Lng(i')}
            r_k.append((Lat_interp, Lng_interp,Road_Intersect_1,Road_Intersect_2))
         Intersection_Route_with_t_waypoints.append(r_k)
    return Intersection_Route_with_t_waypoints  # Return r'_k = {x_k(1), x_k(2), ..., x_k(t - 1)}